@font-face {
    font-family: "Milligram Text Regular";
    src: url("https://email-api-puqm.onrender.com/static/fonts/Milligram/MilligramText-Regular.ttf");
}

@font-face {
    font-family: "Milligram Text Medium";
    src: url("https://email-api-puqm.onrender.com/static/fonts/Milligram/MilligramText-Medium.ttf");
}

body {
    font-family: "Milligram Text Regular";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: "Milligram Text Medium";
}

.title {
    font-family: "Milligram Text Medium";
    font-size: 1.125rem;
}

.founder {
    font-weight: bold;
}

.icons_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
    margin-top: 2rem;
    margin-inline: 0.7rem;
}
